:root {
  --bg-trans: 1;
  --tempCol: #34c759;
  --primary-color: hsla(210, 100%, 50%, var(--bg-trans));
  --background-color: #1c1c1c;
  --primary-color-lite: hsl(270, 100%, 75%);
  --primary-text: white;
  --secondary-text: white;
  --secondary: #1e90ff;
  --neu-shadow-top: #606060;
  --neu-shadow-bottom: #282828;
  --border-pseudo: linear-gradient(
    0deg,
    rgb(31, 143, 255) 0%,
    transparent 25%,
    transparent 75%,
    rgb(31, 143, 255) 100%
  );
  --html: #e34c26;
  --css: #1034a6;
  --js: #f0db4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  /* border: 1px solid red; */
}

section {
  margin-top: 35px;
  padding: 30px;
  text-align: center;
  background-color: var(--background-color);
}

body {
  background-color: var(--background-color);
  color: var(--primary-text);
  line-height: 1.6;
  background: url("images/bg.svg");
  background-size: cover;
  width: 80%;
  margin-inline: auto;
}

a {
  color: var(--primary-text);
  text-decoration: none;
}

.container {
  width: 92%;
  margin: auto;
  height: 100%;
}

nav {
  position: relative;
  height: 64px;
  background-color: var(--background-color);
  border-top: 3px solid var(--primary-color);
  border-bottom: 3px solid var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0px;
}

nav::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3px;
  height: 100%;
  content: " ";
  background: var(--border-pseudo);
  font-weight: bold;
}

nav::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  content: " ";
  background: var(--border-pseudo);
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 5px;
}

nav ul li {
  border: 3px solid var(--primary-color);
  padding: 5px 10px;
  background-color: var(--background-color);
  z-index: 10;
}

.hero {
  border: 3px solid #34c759;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 25px;
  text-align: center;
}

.hero img {
  width: 250px;
  height: 250px;
  border: 3px solid var(--tempCol);
}

.hero .img-container {
  position: relative;
}

.hero .img-container::before {
  position: absolute;
  bottom: 100%;
  left: 50%;
  content: "";
  background-color: var(--tempCol);
  width: 3px;
  height: 25px;
}

.skill-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
}

.skill-list #html {
  border: none;
  background: url(images/skills/html-skill-frame.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-list #html img {
  border: none;
  height: 30px;
  width: 30px;
}

.skill-list #css {
  border: none;
  background: url(images/skills/css-skill-frame.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-list #css img {
  border: none;
  height: 30px;
  width: 30px;
}

.skill-list #js {
  border: none;
  background: url(images/skills/js-skill-frame.svg);
  background-size: cover;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skill-list #js img {
  border: none;
  height: 30px;
  width: 30px;
}

.hero a {
  border: 3px solid var(--primary-color);
  padding: 8px 10px;
  background-color: var(--background-color);
}

.hero-desc {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.hero-desc a {
  width: 100%;
}

.skills {
  border: 3px solid var(--primary-color);
  position: relative;
}

.skills h2 {
  border: 2px solid var(--secondary);
  width: fit-content;
  position: absolute;
  top: -22px;
  background-color: var(--background-color);
  padding: 5px 10px;
}

.projects {
  border: 3px solid var(--primary-color);
  position: relative;
}

.projects h2 {
  border: 2px solid var(--html);
  width: fit-content;
  position: absolute;
  top: -22px;
  background-color: var(--background-color);
  padding: 5px 10px;
}

.div {
  height: 3px;
  border: 1px solid hsl(123, 100%, 50%);
  background-color: hsl(123, 100%, 50%);
  width: 50%;
}

.skills-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.skill-card {
  /* width: 350px; */
  padding: 10px;
  border: 2px solid var(--tempCol);
  border-radius: 20px 0px;
}

.skill-icon {
  text-align: left;
  padding: 10px;
  border: 2px solid var(--css);
  width: fit-content;
  border-radius: 10px 0px;
}

.card-content {
  padding: 15px;
}

.card-content h3 {
  text-decoration: underline;
  text-decoration-color: var(--tempCol);
  text-decoration-thickness: 2px;
}

.skill-description {
  text-align: center;
}

.projects {
  border: 3px solid var(--html);
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  margin-bottom: 15px;
}

.prj {
  border: 2px solid var(--secondary);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.prj-top {
  position: relative;
  height: 150px;
  box-sizing: border-box;
  border: 2px solid var(--tempCol);
  padding: 10px;
  display: flex;
  justify-content: right;
}

.prj-top::after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -2px;
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
  border-top: 2px solid var(--tempCol);
  border-right: 2px solid var(--tempCol);
}

.prj-top::before {
  position: absolute;
  content: "";
  bottom: -2px;
  left: -2px;
  width: 50px;
  height: 50px;
  background-color: var(--background-color);
}

.prj-bottom {
  position: relative;
  /* height: 150px; */
  border: 2px solid var(--tempCol);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.prj-bottom h4 {
  text-decoration: underline;
  text-decoration-color: var(--tempCol);
  text-decoration-thickness: 2px;
}

.prj-bottom::after {
  position: absolute;
  content: "";
  top: -55px;
  left: -2px;
  height: 53px;
  width: 40px;
  border-top: 2px solid var(--tempCol);
  border-right: 2px solid var(--tempCol);
  border-left: 2px solid var(--tempCol);
  background-color: var(--background-color);
}
.prj-bottom::before {
  position: absolute;
  content: "";
  top: -25px;
  left: 0px;
  height: 53px;
  width: 40px;

  background-color: var(--background-color);
}

.prj-img {
  background: url(./images/hero-img.png);
  background-size: cover;
  width: 180px;
  height: 125px;
}

.prj-link {
  font-weight: bold;
  text-decoration: underline;
  color: var(--secondary);
}

.prj-link:visited {
  color: var(--css);
}

/* ////////////////////
    MEDIA QUERIES
    /////////////////// */

/* TABLET STYLES */

@media only screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
  nav {
    position: relative;
    height: 64px;
    border-top: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }

  .hero {
    background-color: var(--background-color);
    border: 3px solid #34c759;
    margin-top: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 25px;
    text-align: center;
  }

  .skill-list #html {
    border: none;
    background: url(images/skills/html-skill-frame.svg);
    background-size: cover;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-list #html img {
    border: none;
    height: 40px;
    width: 40px;
  }

  .skill-list #css {
    border: none;
    background: url(images/skills/css-skill-frame.svg);
    background-size: cover;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-list #css img {
    border: none;
    height: 40px;
    width: 40px;
  }

  .skill-list #js {
    border: none;
    background: url(images/skills/js-skill-frame.svg);
    background-size: cover;
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-list #js img {
    border: none;
    height: 40px;
    width: 40px;
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }

  .skill-card {
    width: 250px;
  }

  .prj {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
  }

  .prj-img {
    background: url(./images/hero-img.png);
    background-size: cover;
    width: 155px;
    height: 125px;
  }
  .project-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }
}

/* ANYTHING ELSE */
@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
  }

  nav {
    position: relative;
    height: 64px;
    border-top: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0px;
    padding-inline: 15px;
  }

  nav::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    content: " ";
    background: var(--border-pseudo);
    font-weight: bold;
  }

  nav::after {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    content: " ";
    background: var(--border-pseudo);
    font-weight: bold;
  }

  nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
    margin-top: 64px;
  }

  .hero {
    background-color: var(--background-color);
    border: 3px solid #34c759;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 25px;
    text-align: center;
    height: 600px;
  }

  .hero img {
    position: relative;
    width: 500px;
    height: 500px;
    border: 3px solid var(--tempCol);
  }

  .hero .img-container::before {
    position: absolute;
    bottom: 100%;
    left: 50%;
    content: "";
    background-color: var(--tempCol);
    width: 3px;
    height: 45px;
  }
  .hero .img-container::after {
    position: absolute;
    top: 98%;
    left: 50%;
    content: "";
    background-color: var(--tempCol);
    width: 3px;
    height: 53px;
  }

  .hero-desc {
    gap: 25px;
  }

  .hero-desc h3 {
    font-size: 1.5rem;
  }

  .hero-desc h1 {
    font-size: 2rem;
  }

  .hero a {
    width: 250px;
  }

  .skill-list #html {
    border: none;
    background: url(images/skills/html-skill-frame.svg);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-list #html img {
    border: none;
    height: 60px;
    width: 60px;
  }

  .skill-list #css {
    border: none;
    background: url(images/skills/css-skill-frame.svg);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-list #css img {
    border: none;
    height: 60px;
    width: 60px;
  }

  .skill-list #js {
    border: none;
    background: url(images/skills/js-skill-frame.svg);
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .skill-list #js img {
    border: none;
    height: 60px;
    width: 60px;
  }

  .skills-list {
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-wrap: wrap;
  }
}
